{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}

<h1>{{=T('#hext.me')}}</h1>
<table>




<table border="1">

<tr>
<td>hext</td>
<td>All Time Hits</td>
</tr>

{{i = 0}}
{{for hext in hexts: }}
<tr>
<td>{{=hext}}</td>
<td>{{=hits[i]}}</td>
</tr>
{{i = i + 1}}
{{pass}}


</table>


{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block left_sidebar}}New Left Sidebar Content{{end}}
{{block right_sidebar}}New Right Sidebar Content{{end}}
