{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{response.files.append(URL('static','js/jquery.autocomplete.js'))}}
{{response.files.append(URL('static','js/lib/jquery.ajaxQueue.js'))}}
{{response.files.append(URL('static','js/lib/jquery.bgiframe.min.js'))}}
{{response.files.append(URL('static','js/lib/thickbox.css'))}}
{{response.files.append(URL('static','js/thickbox-compressed.js'))}}
{{response.files.append(URL('static','js/autocomplete.js'))}}



{{extend 'layout.html'}}

{{if 'message' in globals():}}
  <div id="searchformcontainer">
    {{=searchform}}
    <div id="searchresults"></div>
  </div>
  
	<div id="lowercontainer"> 
 		<div id="info1">
  			<h1 class="h1infoyellow">What is a hext link?</h1>
  			Hext.me is a site where you can <span class="infogreen">create memorable links </span>using real words and phrases.
Simply think of a catchphrase, <span class="infoblue">assign a link to it</span>, and <span class="infopink">voila!</span> You have created a hextlink.
Now every time somebody types in your phrase, it will link him/her directly to the page
of your choosing. Use our “dashboard” feature to view how many people are checking
out your link, who they are, and where they’re from.
  		</div>
  		<div id="info2">
  			<h1 class="h1infoblue">How do I create a hextlink?</h1>
Unleash the power of hextlinks in just two steps:
1. Input your own new memorable catchphrase
2. Input the URL of the page you want to link to
Just like that, you’ve created your very own unique hextlink. You can change the linking
URL at anytime, and you can also view statistics of how many people checked out your
link, who they are, and where they’re from.
  			</div>
  		<div id="createcontainer">
  			<h1 class="h1infopink">Create a hext link</h1>
		
		<div id="createformcontainer">
    		{{=createform}}
  		</div>
	</div>

		
</div>



{{else:}}
  {{=BEAUTIFY(response._vars)}}
{{pass}}

{{block left_sidebar}}New Left Sidebar Content{{end}}
{{block right_sidebar}}New Right Sidebar Content{{end}}
